.scroll {height: 100%}
// overrides
.tab-item-active {
    border: none !important;
}


// FEED
@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

.query-wrapper .back-button {
    position: absolute;
    font-size: 22px;
    top: 0;
    left: 0;
    z-index: 999;
    height: 65px;
    padding: 19px 0 0 8px;
}

.query-wrapper .reset-button {
    position: absolute;
    right: 0;
    top: 0;
    color: #bbb;
    font-size: 22px;
    z-index: 999;
    padding: 19px 8px 0 0;
    height: 65px;
}

.query-wrapper .search-query {
    padding: 0 0 0 30px;
    width: 100%;
    height: 65px;
    font-size: 18px;
}

.feed-page {
    background-image: url('http://imagizer.imageshack.us/v2/640x480q90/673/fYKMcb.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;

    background-position: 50% 0;
    background-attachment: fixed;
    -webkit-animation: animatedBackground 200s linear infinite;

    position: fixed;
}

.brand-tagline {
    color: white;
    position: relative;
    // top: 0;
    font-size: 22px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    padding: 8px;
    margin-top: 90%; //100%;
}

.brand-tagline p {
    width: 100%;
    text-align: right;
    // float: left;
}

#feed-actions-alt.actions {
    transition:opacity 0.5s linear;
    color: white;
    font-size: 32px;
    width: 100%;
    background-color: #E53935;
    opacity: 0;
    visibility: hidden;
    padding: 8px;
    position: fixed;
    z-index: 999;

    .button {
        color: white;
        background-color: #B71C1C
    }

    .button:last-child {
        float: right;
    }
}

// .not-visible {
//     opacity: 0;
// }

.appear {
    display: none;
    background-color: rgba(0,0,0,0.7);
}

.appear.ng-enter,
.appear > .ng-enter {
    display: block;
}

.appear.ng-enter-active,
.appear > .ng-enter-active {
    display: block;
}

.appear.ng-leave,
.appear > .hn-leave {
    display: none;
}

.feed-page .actions {
    transition:opacity 0.5s linear;
    color: white;
    font-size: 32px;
    width: 100%;
    background-color: #E53935;
    opacity: 0.6;
    padding: 8px;

    .button {
        color: white;
        background-color: #B71C1C
    }

    .button:last-child {
        float: right;
    }
}

.brand-tagline i {
    display: block;
    // float: left;
}

.brand-tagline i.last {
    -webkit-transform: rotate(180deg);
    // float: right;
}

.brand-post-first {
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // z-index: 1;

    background-image: url('http://imagizer.imageshack.us/v2/640x480q90/673/fYKMcb.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background-position: 50% 0;
    padding-top: 100%;

    // animation: animatedBackground 30s linear infinite;
    // -moz-animation: animatedBackground 30s linear infinite;
    // -ms-animation: animatedBackground 30s linear infinite;
    // -o-animation: animatedBackground 30s linear infinite;
}

#feed[data-columns]::before {
    content: '1 .column.size-1of1';
}

.column {
    // float: left;
}


.size-1of1 {
    width: 100%;
}

.size-1of2 {
    width: 50%;
}

#feed {
    position: relative;
    z-index: 2;
    // margin-top: 100%;
    padding-bottom: 90%;// 100%;
}

#feed img {
    display: block;
    width: 100%;
}

#feed .entry {
    // float: left;
    // padding: 10px;
    width: 100%;
}

#feed .entry p {
    background-color: black;
    opacity: 0.7;
    color: white;
    position: absolute;
    margin-top: -100px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}


.scroll-options {
    position: absolute;
    // top: 0;
    height: 100px;
    bottom: 150px;
    right: 0;
    z-index: 9999;
    width: 40px;
    right: 10px;
    // height: 100%;
    // padding-: 40%;
}

.scroll-options a {
    float: left;
    width: 40px;
    position: relative;
    margin-bottom: 8px;
}

.scroll-options .ion-record::before {
    font-size: 48px;
    color: white;

    -webkit-text-shadow: 0px 3px 6px rgba(0,0,0,0.75);
    -moz-text-shadow: 0px 3px 6px  rgba(0,0,0,0.75);
    text-shadow: 0px 3px 6px rgba(0,0,0,0.75);
}

.scroll-options a i:last-child {
    position: absolute;
    top: 0;
    padding: 15px 12px;
    font-size: 18px;
    color: #444;
}

.login.fullscreen {
    background-image: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: -135px 0;
    margin: 0;
}

.login.fullscreen .button-bar {
    position: relative;
    width: 90%;
    top: 60%;
    margin: 0 auto;
}

.login .button-bar {
    box-shadow: none;
}

.button.ion-social-google {
    background-color: #d34836;
    color: white;
}

.login .button.social-button::before {
    float: none;
    padding-top: 8px;
    font-size: 20px;
}

.button.ion-social-facebook {
    background-color: #3b5998;
    color: white;
}

.shopping-plans .item {
    white-space: normal
}

.shopping-plans .date {
    font-size: 12px;
    font-style: italic;
    margin-top: 8px;
    // text-align: right;
    // position: absolute;
    // top: 10px;
}

.shopping-plans .plan-detail,
.shopping-plans .plan-detail .plan-icon,
.shopping-plans .plan-detail .plan-descr {
    padding: 0;
    white-space: normal;
}

.shopping-plans .plan-detail .plan-icon {
    font-size: 22px;
    padding-top: 4px;
}

.shopping-plans .plan-detail .plan-descr .shops {
    white-space: normal;
}

.shopping-plans .plan-detail .plan-descr .shops span {
    margin-right: 10px;
    font-size: 12px;
    padding: 0 4px;
    line-height: 1em;
    border-left: 3px solid #ddd;
}


.shopping-plans .invitations .list {
    // margin-top: 20px;
}

.shopping-plans .invitations .friend {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 8px;
    color: #577A9E;
    font-weight: bold;
}

.shopping-plans .invitations .friend span {
    font-style: italic;
    color: #666;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}

.shopping-plans .header .title {
    text-transform: uppercase;
    font-size: 13px;
}

// .scroll-options
.shopping-plans .no-plan {
    margin-top: 40px;
}

.shopping-plans .no-plan span {
    display: block;
    width: 100%;
    text-align: center;
    color: #444;
}

.plan .dest {
    padding: 0;
}


.plan .area .icon {
    font-size: 32px;
    color: #2c3e50;
    vertical-align: middle;
    margin-right: 10px;
}

.plan .area {
    padding: 12px 16px;
    font-size: 18px;
}

.plan .collections {
}

.plan .collections .entry .subtitle,
.plan .collections .entry .descr,
.plan .collections .entry .sizes,
.plan .collections .entry .title {
    white-space: normal;
}

.plan .collections .entry .title {
    font-size: 16px;
}


.plan .collections .entry .subtitle {
    font-size: 14px;
    font-style: italic;
}


.plan .collections .entry .descr {
    font-size: 12px;
    margin-top: 8px;
}

.plan .collections .entry .sizes {
    margin-top: 6px;
}

.plan .collections .entry .sizes span {
    font-size: 12px;
    border: 1px solid #444;
    padding: 2px 6px;
    margin-right: 6px;
}

.plan .collections .entry {

}

.plan .collections .entry img {
    width: 100%;
    // height: 200px;
}


.plan .store .row {
    padding: 0px;
    margin: 0px;
}

.plan .store .detail {
    padding: 8px 16px;
    // border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.plan .store .detail .col {
    padding: 0;
}

.plan .store .detail .col-10 {
    margin-right: 16px;
}

.plan .store .detail .c-avatar {
    position: absolute;
}

.plan .store .detail .name {
    font-weight: normal;
    font-size: 16px;
    color: #444;
}

.plan .store .detail .address {
    font-size: 12px;
}

.c-avatar {
    color: white;
    font-size: 20px;
    line-height: 1em;
    padding: 10px 12px;
    text-align: center;
}

.c-avatar i {
    position: absolute;
    font-size: 42px;
    left: 0;
    top: 0;
    z-index: -1;
}

.c-avatar i.L {
    color: #9b50ba;
}

.c-avatar i.P {
    color: #e74c3c;
}

.c-avatar i.F {
    color: #2980b9;
}
.plan .store {
    border: none;
    padding: 0px; //8px 0px 0px 0px;
    margin: 0px;
}

.plan .store .name {
    padding: 0;
}

.plan .store .address {
    padding: 0;
}

.plan .store .icon {
}

.plan .bar-footer {
    height: 50px;
    border-top: 1px solid #444;
}

.plan .bar-footer span {
    position: absolute;
    left: 4px;
    top: 14px;
    color: #444;
    border: 1px solid #27ae60;
    font-size: 10px;
    padding: 4px 4px;
    line-height: 1em;
    color: #27ae60
}

.plan .friends {
    width: 100%;
    height: 40px;
}

.plan .friends .item {
    display: block;
    border: none;
    padding: 0px;
    float: right;
    width: 55px;
    margin: 0;
    height: 40px;
    min-height: 0px;
}

.plan .friends .item-avatar img {
    width: 40px;
    top: 0;
    left: 0;
}







/**  PLAN CSS */

.friends .button {
    position: absolute;
    // line-height: 12px;
    font-size: 30px;
    letter-spacing: 1px;
    top: 16px;
    right: 16px;
    padding-bottom: 2px;
}

.friends .button.icon::before {
    font-size: 40px;
    color: #E0E0E0;
}

.friends .button.invited::before {
    color: #577A9E;
}

.fake-header {
    position: fixed;
    top: 44px;
    width: 100%;
    z-index: 9999;
    opacity: 0.9;
}

.insta-bar {
    // background-color: #F44336; // red
    background-color: #E53935; // red-dark
    // background-color: #D81B60; // pink-dark
    // background-color: #673AB7; // deep purple
    // background-color: #5E35B1; // deep purple dark
    // background-color: #3949AB; // indigo dark
    // background-color: #9C27B0; // purple


    color: white;
}

.insta-bar .button {
    color: white;
}

.offer .icon-wrapper {
    text-align: center;
    padding: 15px;
}

.offer .icon {
    font-size: 30px;
    color: #577A9E;
}

.offer .icon.checked::before {
    color: #E17768;
}

.offer .offer-descr {
    margin-top: 5px;
}

.offer .offer-descr .col,
.offer .offer-descr .row {
    padding: 0px;
}


.offer .title,
.offer .offer-title,
.listings .search-bar .title {
    font-weight: bold;
    color: #2c3e50;
    font-size: 18px;
    letter-spacing: 2px
}

.offer .subtitle,
.offer .offer-item,
.listings .search-bar .subtitle {
    color: #7f8c8d;
    font-size: 14px;
}

.offer .offer-item {
    color: #577A9E;
}

.offer .title {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: inherit;
}

.offer .subtitle {
    font-style: italic;
    font-size: 12px;
}

.offer .offer-title {
    font-size: 16px;
    color: #577A9E;
    text-transform: uppercase;
}

.offer .button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.offer .button::before {
    font-size: 40px;
    color: #E0E0E0;
}

.offers .item {
    padding: 0px;
}

.listings .menu-right .user img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.listings .menu-right .user {
    border-bottom: 1px solid #ddd;
}

.listings .menu-right .button {
    margin: 0;
}

.listings.slider {
    height: 50%;
}

.listings .slider-slide {
    overflow: hidden;
}

.listings .slider-slide img {
    height: 50%;
}


.listings .search-icon {
    text-align: center;
    padding: 5px;
}

.listings .search-icon i:first-child {
    font-size: 50px;
    color: #E17768;
    line-height: -1;
}

.listings .search-icon i:last-child {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 25px;
    left: 32px;
}

.listing .list {
    padding: 0px;
}

.item.listing {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.listing.listing-header {
    padding: 16px;
    position: relative;
}

.listing.listing-header img {
    max-height: 24px;
}

.listing.listing-image {
    position: relative;
}

.listing.item-body {
    padding: 16px;
    margin-top: -100px;
    background-color: #ffffff;
    opacity: 0.9;
    position: relative;
}

.listing.item-body h2 {
    margin-top: -2px;
    margin-bottom: 6px;
}

.listing.item-body .p {
    margin-top: 0px;
}

.listing.item-body .list {
    margin: 0;
}

.listing.item-body .descr {
    margin-top: 8px;
}

.listing.item-body button {
    position: absolute;
    right: 25px;
    padding: 0 0 !important;
    color: #886aea;
    font-size: 18px;
}

.listing.item-body button::before {
    font-size: 42px;
}

.listing button.button-assertive {
    color: white;
}

.listing .size-option {
    border: 1px solid #ccc;
    font-size: 12px;
    margin-right: 6px;
    min-width: 24px;
    text-align: center;
    display: inline-block;
}

.listing-ad {
    z-index: -1;
    margin-bottom: -50px;
}

.listing-ad .item-image {
    height: 230px;
}

.listing-ad .item-image img {
    width: auto;
    height: 100%;
}

.listing-ad .slanted-border {
    overflow: hidden;
    height: 200px;
    transform: skewY(12deg);
    content: '';
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top: -11%;
}


.button.button-fab.show-map {
    background-color: #009688;
    color: white;

    &.activated {
        color: white;
        background-color: #009688;
    }
}

.search-result {
    .bar-header {
        height: 65px;
        background-color: #E53935;
        opacity: 0.8;

        .button {
            background-color: #B71C1C;
            color: white;
            top: 10px !important;
            position: absolute;

            &.home-button {
                left: 55px;
            }

            &.back-button {
                left: 5px;
            }

            &.search-button {
                right: 55px;
            }
        }
    }

    .has-header {
        top: 0px;
        padding-top: 65px;
    }


}

.map-destinations {

    .bar-header {
        .button {
            background-color: #B71C1C;
            color: white;
            top: 10px !important;
            position: absolute;

            &.back-button {
                left: 5px;
            }
        }
    }

}


.slanted-border-top-1:before {
    display: block;
    height: 100%;
    /*transform: skewY(30deg);*/
    content: '';

    margin: 2em;
}

.slanted-border-top-2 {
    overflow: hidden;
    height: 50%;
    transform: skewY(-30deg);

    display: block;
    content: '';
}


.slanted-border-top-2:before {
    margin: -2em;
    background-color: white;
    background-size: 8em 8em;

    display: block;
    height: 100%;
    transform: skewY(30deg);
}

.expanded-query .item {
    padding: 10px;
    color: #7f8c8d;
}

.expanded-query .item-note {
    color: #444;
}

.expanded-query .color-patches {
    margin-left: 4px;
    font-size: 16px;
}

.query-comp {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.query .search-query {
    width: 100%;
}

.list .flat-ion-item.item {
    padding: 0 0;
    border-bottom: 2px solid #ddd;
    margin: 0 0;
}

.bar .button.button-icon.back-history {
    padding: 3px 16px;
}

.centered-button-fab-wrapper,
.centered-button-raised-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 16px;
}

.reset-button {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #bbb;
    font-size: 22px;
    z-index: 9999;
}

.bar.bar-header.transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #444;
}

.spinner {
    font-size: 22px;
}

.spinner svg {
  width: 60px;
  height: 60px;
  stroke: #444;
  fill: #FFF;
}

.loading-container .loading {
    background-color: white;
    color: #444;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 8px;
    border-radius: 50%;
    height: 74px;
    width: 74px;
}

.shopplan-create-form {
    padding: 30px 22px;
    background-color: #886aea;
    height: 60%;
    color: white;
    min-height: 100px;
}

.shopplan-create-form .ion-android-close {
    position: absolute;
    top: 8px;
    right: 16px;
    left: auto;
    bottom: auto;
    color: white;
    padding: 0px;
}

.shopplan-create-form .input-label {
    color: #2B127D;
    font-size: 22px;
}

.shopplan-create-form input {
    color: white;
    font-size: 20px;
}

.shopplan-create-form input::-webkit-input-placeholder {
    color: white;
}

.shopplan-create-form input::-moz-placeholder {
    color: white;
}

.shopplan-create-form input:-moz-placeholder {
    color: white;
}
