.fake-header {
    position: fixed;
    top: 44px;
    width: 100%;
    z-index: 9999;
    opacity: 0.9;
}

.insta-bar {
    background-color: #E17768;
    color: white;
}

.insta-bar .button {
    color: white;
}

.offer .icon-wrapper {
    text-align: center;
    padding: 15px;
}

.offer .icon {
    font-size: 30px;
    color: #577A9E;
}

.offer .icon.checked::before {
    color: #E17768;
}

.offer .offer-descr {
    margin-top: 5px;
}

.offer .offer-descr .col,
.offer .offer-descr .row {
    padding: 0px;
}


.offer .title,
.offer .offer-title,
.listings .search-bar .title {
    font-weight: bold;
    color: #2c3e50;
    font-size: 18px;
    letter-spacing: 2px
}

.offer .subtitle,
.offer .offer-item,
.listings .search-bar .subtitle {
    color: #7f8c8d;
    font-size: 14px;
}

.offer .offer-item {
    color: #577A9E;
}

.offer .title {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: inherit;
}

.offer .subtitle {
    font-style: italic;
    font-size: 12px;
}

.offer .offer-title {
    font-size: 16px;
    color: #577A9E;
    text-transform: uppercase;
}

.offer .button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.offer .button::before {
    font-size: 40px;
    color: #E0E0E0;
}

.offers .item {
    padding: 0px;
}

.listings.slider {
    height: 50%;
}

.listings .slider-slide {
    overflow: hidden;
}

.listings .slider-slide img {
    height: 50%;
}


.listings .search-icon {
    text-align: center;
    padding: 5px;
}

.listings .search-icon i:first-child {
    font-size: 50px;
    color: #E17768;
    line-height: -1;
}

.listings .search-icon i:last-child {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 25px;
    left: 32px;
}

.listing .list {
    padding: 0px;
}

.item.listing {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.listing.listing-header {
    padding: 16px;
    position: relative;
}

.listing.listing-header img {
    max-height: 24px;
}

.listing.listing-image {
    position: relative;
}

.listing.item-body {
    padding: 16px;
    margin-top: -100px;
    background-color: #ffffff;
    opacity: 0.9;
    position: relative;
}

.listing.item-body h2 {
    margin-top: -2px;
    margin-bottom: 6px;
}

.listing.item-body .p {
    margin-top: 0px;
}

.listing.item-body .list {
    margin: 0;
}

.listing.item-body .descr {
    margin-top: 8px;
}

.listing.item-body button {
    position: absolute;
    right: 16px;
    border: 1px solid;
    color: black;
    line-height: 12px;
    min-width: 28px;
    min-height: 30px;
    font-size: 13px;
    letter-spacing: 1px;
}

.listing button.button-assertive {
    color: white;
}

.listing .size-option {
    border: 1px solid #ccc;
    font-size: 12px;
    margin-right: 6px;
    min-width: 24px;
    text-align: center;
    display: inline-block;
}

.listing-ad {
    z-index: -1;
    margin-bottom: -50px;
}

.listing-ad .item-image {
    height: 230px;
}

.listing-ad .item-image img {
    width: auto;
    height: 100%;
}

.listing-ad .slanted-border {
    overflow: hidden;
    height: 200px;
    transform: skewY(12deg);
    content: '';
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top: -11%;
}

.slanted-border-top-1:before {
    display: block;
    height: 100%;
    /*transform: skewY(30deg);*/
    content: '';

    margin: 2em;
}

.slanted-border-top-2 {
    overflow: hidden;
    height: 50%;
    transform: skewY(-30deg);

    display: block;
    content: '';
}


.slanted-border-top-2:before {
    margin: -2em;
    background-color: white;
    background-size: 8em 8em;

    display: block;
    height: 100%;
    transform: skewY(30deg);
}


.query .bar-footer {
    border-top: 1px solid #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
}

.query .bar-footer .button::before {
    color: #444;
}

.query .bar-footer .button {
    min-width: 10%;
}

.query .bar-footer .search {
    border-right: 1px solid #ddd; //#E17768;
    border-left: 1px solid #ddd; //#E17768;
    font-size: 16px;
    padding: 0 30px;
    text-transform: uppercase;
    color: #E17768;
    margin-left: 20%;
    width: 40%;
}

.expanded-query .item {
    padding: 10px;
    color: #7f8c8d;
}

.expanded-query .item-note {
    color: #444;
}

.expanded-query .color-patches {
    margin-left: 4px;
    font-size: 16px;
}

.query-comp {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}