<ion-view title="InstaShopper" class="listings">

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-gear settings"></button>
  </ion-nav-buttons>

	<ion-content>

    <div class="row search-bar">
      <a ng-click="openSearch()" class="row">
        <div class="col search-icon">
          <i class="icon ion-record"></i>
          <i class="icon ion-ios-search-strong"></i>
        </div>
        <div class="col col-80">
          <div class="row title">EXPLORE</div>
          <div class="row subtitle">Find great shopping destinations...</div>
        </div>
      </a>
    </div>

    <ion-slide-box does-continue="true"
                   auto-play="true"
                   slide-interval="3000">

      <ion-slide ng-repeat="ad in ads">
        <img ng-src="{{ad.img}}" />
      </ion-slide>
    </ion-slide-box>


    <ion-list show-detele="false"
              show-reorder="false"
              can-swipe="false"
              class="offers">

      <ion-item ng-repeat="offer in offers">
        <div class="row offer">
          <div class="col icon-wrapper">
            <i class="icon" ng-class="offerIcon(offer.storeType)"></i>
          </div>
          <div class="col col-80">
            <div class="row title">{{offer.brand}}</div>
            <div class="row subtitle">{{offer.address}}</div>
            <div class="row offer-descr">
              <div class="col">
                <div class="row offer-title">{{offer.offer}}</div>
                <div class="row offer-item">{{offer.itemDescr}}</div>
              </div>
            </div>
            <button class="button button-clear icon ion-ios-checkmark"
                    ng-click="toggleStore(offer.storeId)"
                    ng-class="{'checked': isStoreSelected(offer.storeId)}"></button>
          </div>
        </div>
      </ion-item>
    </ion-list>

   <!-- <ion-refresher on-refresh="onRefresh()"></ion-refresher> -->
    <ion-infinite-scroll ng-if="moreContent()"
                         on-infinite="loadMoreData()"
                         distance="-1%"></ion-infinite-scroll>
  </ion-content>

</ion-view>