<ion-view title="Invite Friends">
  <ion-content class="friends">
    <ion-list>
      <ion-item ng-repeat="friend in friends" class="item-avatar">
        <img ng-src="{{friend.avatar}}" />
        <h2>{{friend.name}}</h2>
        <p>{{friend.username}}</p>
        <button class="button button-clear icon ion-ios-checkmark"
                ng-click="toggleInvitation(friend.id)"
                ng-class="{invited: isInvited(friend.id)}"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>