<!-- @ deprecating
<ion-view class="query">

  <ion-content>
    <form ng-submit="qc.search()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input  class="search-query"
                type="search"
                ng-model="qc.queryStr"
                name="queryStr"
                placeholder="I am looking for ..." />
        <i class="icon ion-android-close reset-button"
           ng-click="qc.reset()"></i>
      </label>

      <bon-expanded-query></bon-expanded-query>
    </form>

    <div class="centered-button-fab-wrapper">
      <button id="search-button"
              class="button button-fab button-positive spin"
              ng-click="qc.search()">
        <i class="icon ion-ios-search-strong"></i>
      </button>
    </div>
  </ion-content>

</ion-view> -->