<ion-modal-view>
	<ion-content ng-controller="QueryController as qrc" class="query-wrapper">
		<form ng-submit="qrc.search()">
      <i class="icon ion-arrow-left-c back-button"
         ng-click="qrc.goBack()"></i>
      <input  class="search-query"
              type="search"
              ng-model="qrc.queryStr"
              name="queryStr"
              placeholder="I am looking for ..." />
      <i class="icon ion-android-close reset-button"
         ng-click="qrc.reset()"></i>

      <bon-expanded-query></bon-expanded-query>
    </form>

    <div class="centered-button-fab-wrapper">
      <button id="search-button"
              class="button button-fab button-positive spin"
              ng-click="qrc.search()">
        <i class="icon ion-ios-search-strong"></i>
      </button>
    </div>
	</ion-content>
</ion-modal-view>