<ion-modal-view class="query">
  <ion-pane ng-controller="QueryController">
    <form ng-submit="search()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input  type="text"
                ng-model="queryStr"
                ng-change="expand()"
                name="queryStr"
                placeholder="I am looking for ..." />
      </label>

      <expanded-query></expanded-query>
    </form>

    <ion-footer-bar>
      <button class="button button-clear icon ion-ios-reload"
              ng-click="reset()"></button>

      <button class="button search button-clear"
              ng-click="search()">Search</button>

      <button class="button button-clear icon ion-ios-close-outline"
              ng-click="close()"></button>
    </ion-footer-bar>
  </ion-pane>

</ion-modal-view>