<ion-view hide-nav-bar="true">

  <div id="feed-actions-alt" class="actions not-visible">
    <button class="button button-fab flat icon ion-search"
            ng-click="feed.goToSearch()"></button>
    <button class="button button-fab flat icon ion-ios-heart"></button>
    <button class="button button-fab flat icon ion-bag"></button>
    <button class="button button-fab flat icon ion-person"></button>
  </div>

  <ion-content id="feed-page" class="feed-page" has-bouncing="true" overflow-scroll="true">

    <div class="brand-tagline">
      <i class="icon ion-quote"></i>
      <p>Each pair is so different.</p>
      <p>Each one tells a different story.</p>
      <i class="icon ion-quote last"></i>
    </div>


    <div id="feed" class="feed columns">
      <div id="feed-actions" class="actions">
        <button class="button button-fab flat icon ion-search"
                ng-click="feed.goToSearch()"></button>
        <button class="button button-fab flat icon ion-ios-heart"></button>
        <button class="button button-fab flat icon ion-bag"></button>
        <button class="button button-fab flat icon ion-person"></button>
      </div>

      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/673/dUsfNv.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/661/b7B7Aa.jpg" />
        <p>Your entrance was good, his was better.</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/673/lQJ1xH.jpg" />
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/661/ydjkV8.jpg" />
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/673/dUsfNv.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/661/b7B7Aa.jpg" />
        <p>Your entrance was good, his was better.</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/673/lQJ1xH.jpg" />
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/661/ydjkV8.jpg" />
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/673/dUsfNv.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/661/b7B7Aa.jpg" />
        <p>Your entrance was good, his was better.</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/673/lQJ1xH.jpg" />
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="entry">
        <img src="http://imagizer.imageshack.us/v2/320x240q90/661/ydjkV8.jpg" />
      </div>
    </div>
  </ion-content>

</ion-view>