<ion-view>

	<div class="tabs-stripped tabs-top">
		<div class="tabs">
			<a class="tab-item"
				 ng-click="creator.goToPlans()"
				 ng-class="{active: creator.isState('plans')}">
				<i class="icon ion-ios-navigate"></i>
			</a>

			<a class="tab-item"
			   ng-click="creator.goToMap()"
			   ng-class="{active: creator.isState('map')}">
				<i class="icon ion-map"></i>
			</a>

			<a class="tab-item"
			   ng-click="creator.goToInvites()"
			   ng-class="{active: creator.isState('invite')}">
				<i class="icon ion-ios-people"></i>
			</a>

			<a class="tab-item"
			   ng-click="creator.goToPreview()"
			   ng-class="{active: creator.isState('preview')}">
				<i class="icon ion-ios-checkmark"></i>
			</a>
		</div>
	</div>

	<ion-nav-view></ion-nav-view>
</ion-view>