<ion-modal-view>

<!-- 	<ion-header-bar align-title="center" class="bar bar-header bar-light">
		<h1 class="title">Create Shop Plan</h1>
		<div class="buttons">
			<button class="button flat button-icon icon ion-android-close on"
							ng-click="closeCreatePlan()">
			</button>
		</div>
	</ion-header-bar>
 -->
	<ion-content style="background-color: rgba(0,0,0,0.6);">
		<div class="list shopplan-create-form">
			<button class="button flat button-icon icon ion-android-close on"
							ng-click="closeCreatePlan()">
			</button>

			<label class="item item-input item-floating-label">
				<span class="input-label">Title</span>
				<input ng-model="title"
							 type="text"
							 name="title"
							 placeholder="Title"/>
			</label>
		</div>

		<div class="centered-button-raised-wrapper">
			<button class="button button-raised button-royal"
			        ng-click="createShopplan(title)">Create</button>
    </div>
	</ion-content>

</ion-modal-view>