<ion-view class="plan">

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-checkmark-circled settings"
            ng-click="askToMarkShoppingPlan($event)"
            ng-if="hasPlan()"></button>
  </ion-nav-buttons>

  <div ng-if="!hasPlan()">
    <ion-content class="no-plan">
        <span>No active plans.</span>
        <span>Search and select items to start one</span>
        <span>Or Accept your friends invite</span>
        <span>on home page.</span>
    </ion-content>
  </div>

  <div ng-if="hasPlan()">
    <!-- <div class="fake-header"></div> -->
    <div class="scroll-options">
      <a class="scroll-up"
         ng-click="prevDestination()">
        <i class="icon ion-record"></i>
        <i class="icon ion-chevron-up"></i>
      </a>

      <a class="scroll-down"
         ng-click="nextDestination()">
        <i class="icon ion-record"></i>
        <i class="icon ion-chevron-down"></i>
      </a>
    </div>

    <ion-content lazy-scroll>

      <ion-list>
        <ion-item id="dest{{dest.id}}" ng-repeat="dest in plan.destinations" class="dest">
          <div class="area">
            <i class="icon ion-ios-location"></i>
            {{dest.areaName}}
          </div>
          <ion-list class="stores">
            <ion-item ng-repeat="store in dest.stores" class="store">
              <div class="row detail"
                   ng-click="showStore(store.id)">
                <div class="col col-10">
                  <div class="c-avatar">
                    <i class="icon ion-record" ng-class="store.name[0].toUpperCase()"></i>
                    {{store.name[0].toUpperCase()}}
                  </div>
                </div>
                <div class="col col-90">
                  <p class="row name">{{store.name}}</p>
                  <p class="row address">{{store.address}}</p>
                </div>
              </div>

              <div class="row collections" ng-if="isCollapsed(store.id)">
                <ion-slide-box show-pager="false">
                  <ion-slide ng-repeat="item in store.collections" class="entry">
                    <div class="row">
                      <div class="col col-50">
                        <img ng-src="{{item.img}}" />
                      </div>
                      <div class="col">
                        <div class="title">{{item.title}}</div>
                        <div class="subtitle">{{item.brand}}</div>
                        <p class="descr">{{item.detail.descr}}</p>
                        <div class="sizes">
                          <span ng-repeat="size in item.detail.sizes">{{size}}</span>
                        </div>
                      </div>
                    </div>
                  </ion-slide>
                </ion-slide-box>
              </div>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar>
      <span>ACCEPTED</span>
      <ion-list class="friends">
        <ion-item ng-repeat="friend in plan.friends" class="item-avatar">
          <img ng-src="{{friend.avatar}}" id="{{::friend.id}}"/>
        </ion-item>
      </ion-list>
    </ion-footer-bar>
  </div>
</ion-view>