<ion-nav-bar class="insta-bar"></ion-nav-bar>

<ion-tabs class="tabs-icon-only tabs-dark">

  <ion-tab icon-on="ion-ios-search-strong"
           icon-off="ion-ios-search"
           ui-sref="boson.listing">

    <ion-nav-view name="listings"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-location"
           icon-off="ion-ios-location-outline"
           ui-sref="boson.map">

    <ion-nav-view name="map"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-people"
           icon-off="ion-ios-people-outline"
           ui-sref="boson.friends">

    <ion-nav-view name="friends"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios-wineglass"
           icon-off="ion-ios-wineglass-outline"
           ui-sref="boson.nearby">

    <ion-nav-view name="nearby"></ion-nav-view>
  </ion-tab>


  <ion-tab icon-on="ion-ios-navigate"
           icon-off="ion-ios-navigate-outline"
           ui-sref="boson.plan">

    <ion-nav-view name="plan"></ion-nav-view>
  </ion-tab>

</ion-tabs>