<ion-nav-bar class="bar-positive"></ion-nav-bar>

<ion-tabs class="tabs-icon-only tabs-dark">

  <ion-tab icon-on="ion-ios7-search-strong"
           icon-off="ion-ios7-search"
           ui-sref="boson.listing">

    <ion-nav-view name="listings"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-location"
           icon-off="ion-ios7-location-outline"
           ui-sref="boson.map">

    <ion-nav-view name="map"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-people"
           icon-off="ion-ios7-people-outline"
           ui-sref="boson.friends">

    <ion-nav-view name="friends"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-on="ion-ios7-wineglass"
           icon-off="ion-ios7-wineglass-outline"
           ui-sref="boson.nearby">

    <ion-nav-view name="nearby"></ion-nav-view>
  </ion-tab>


  <ion-tab icon-on="ion-ios7-navigate"
           icon-off="ion-ios7-navigate-outline"
           ui-sref="boson.plan">

    <ion-nav-view name="plan"></ion-nav-view>
  </ion-tab>

</ion-tabs>